@page
<div class="container">
    <div class="row">
        <div class="col-6">
            Usuário: <input type="text" id="userInput" />
        </div>
        <div class="col-6">&nbsp;</div>
    </div>
    <div class="row">Vote em um dos valores abaixo&nbsp;</div>
    <div class="row">
        <div class="col-12">

            <input type="radio" name="myChannel" id="opcao1" value="Teste1" />
            <label for="mcastro1">Matheus Castro</label>
            <br /><span id="mcastro1Block"></span><br />

            <input type="radio" name="myChannel" id="canalDotNet" value="Canal DotNet" />
            <label for="mcastro2">Canal DotNet</label>
            <br /><span id="mcastro2Block"></span><br />

            <input type="radio" name="myChannel" id="naoPossui" value="Nenhum dos anteriores" />
            <label for="mcastro3">Não possuo nenhum canal favorito.</label>
            <br /><span id="naoPossuiBlock"></span><br />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="button" id="sendButton" value="Vote Now" />
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/poll.js"></script>